body{
    background-color: black;
}

.logo img{
    width: 50px;
    height: auto;
}

.logo img:hover{
    cursor: pointer;
}

.main{
    background-image: url("salon7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main h1{
    color: white;
    font-size: 5rem;
    width: 600px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.main h3{
    color: red;
    font-size: 2rem;
    margin: 3px 10px 3px 0;
}

.navbar{
    background-color:rgb(18, 18, 32);
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav{
    margin-left: 320px;
}


.navbar nav a{
    color: grey;
    text-decoration: none;
    padding: 20px;
    font-family:serif;
    font-weight: bold;
    font-size: 20px;
}


.navbar h3{
    font-family: serif;
}

.navbar nav a:hover{
    color: red;
}

.navbar h3{
    font-size: 25px;
}

.left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .btn{
    background-color: rgb(233, 17, 17);
    color: white;
    padding: 20px 10px;
}

.navbar .home{
    color: red;
}

.navbar .btn:hover{
    background-color: darkred;
    color: white;
}

.image img{
    width: 300px;
    height: auto;

}

.about{
    margin-top: 100px;
    margin-left: 200px;
    display: inline-flex;
    gap: 50px;
}

.aboutus{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(18, 18, 32);
    padding: 1px 10px;
    width: 85px;
}

.title{
    color: white;
    font-size: 3rem;
    width: 600px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.about-note{
    color: grey;
    width: 600px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
}

.about-since h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.about-since p{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.about-since{
    width: 300px;
}

.about-end{
    display: inline-flex;
    gap: 50px;
}

.about-clients h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.about-clients p{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 300px;
}

.services-title{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(18, 18, 32);
    padding: 1px 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}

.services-provide{
    color: white;
    font-size: 2.5rem;
    width: 600px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.boxes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.box1 h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box1 p{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box1 .rate{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.box1{
    background-color: rgb(18, 18, 32);
    width: 300px;
    height: 200px;
    padding: 20px 20px;

}

.box2 h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box2 p{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box2 .rate{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.box2{
    background-color: rgb(18, 18, 32);
    width: 300px;
    height: 200px;
    padding: 20px 20px;

}

.box3 h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box3 p{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box3 .rate{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.box3{
    background-color: rgb(18, 18, 32);
    width: 300px;
    height: 200px;
    padding: 20px 20px;

}


.boxes2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.box4 h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box4 p{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box4 .rate{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.box4{
    background-color: rgb(18, 18, 32);
    width: 300px;
    height: 200px;
    padding: 20px 20px;

}

.box5 h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box5 p{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box5 .rate{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.box5{
    background-color: rgb(18, 18, 32);
    width: 300px;
    height: 200px;
    padding: 20px 20px;

}

.box6 h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box6 p{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.box6 .rate{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.box6{
    background-color: rgb(18, 18, 32);
    width: 300px;
    height: 200px;
    padding: 20px 20px;

}

.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover{
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    cursor:pointer;
}

.price{
    display: flex;
    margin-top: 100px;
}

.price-left{
    width: 550px;
    background-color: rgb(18, 18, 32);
    margin-left: 100px;
}

.price-plan{
    color: red;
    width: 100px;
    height: 40px;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin: 40px 20px 20px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.price-title{
    color: white;
    font-size: 2.4rem;
    width: 550px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin-left: 20px;
}

.plan{
    margin-left: 30px;
    color: white;
    font-weight: bold;
}

.plan p{
    font-family: Arial, Helvetica, sans-serif;
}

.tab{
    display: inline;
    margin-left: 379px;
}

.tab2{
    display: inline;
    margin-left: 350px;
}

.tab3{
    display: inline;
    margin-left: 342px;
}

.tab4{
    display: inline;
    margin-left: 345px;
}

.tab5{
    display: inline;
    margin-left: 348px;
}

.tab6{
    display: inline;
    margin-left: 368px;
}

.color{
    color: red;
}

.plan hr{
    margin-right: 20px;
}

.price-right img{
    width: 550px;
    height: 600px;
}

.barber{
    margin-top: 100px;
}

.our-barber{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(18, 18, 32);
    padding: 1px 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}

.barber-title{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-weight: bolder;
}

.barber-images{
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px;
}

.barber1{
    background-color: rgb(18, 18, 32);
    width: 275px;
    height: 500px;

}

.barber1 img{
    height: auto;
    width: 275px;
}

.name1{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.name1 h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px 0 2px 0;
}

.name1 p{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


.barber2{
    background-color: rgb(18, 18, 32);
    width: 275px;
    height: 500px;

}

.barber2 img{
    height: auto;
    width: 275px;
}

.name2{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.name2 h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px 0 2px 0;
}

.name2 p{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.barber3{
    background-color: rgb(18, 18, 32);
    width: 275px;
    height: 500px;

}

.barber3 img{
    height: auto;
    width: 275px;
}

.name3{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.name3 h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px 0 2px 0;
}

.name3 p{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.barber4{
    background-color: rgb(18, 18, 32);
    width: 275px;
    height: 500px;

}

.barber4 img{
    height: auto;
    width: 275px;
}

.name4{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.name4 h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px 0 2px 0;
}

.name4 p{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.time{
    display: flex;
}

.time-left img{
    width: 575px;
    height: 575px;
    margin-left: 85px;
}

.hours{
    color: red;
    width: 130px;
    height: 40px;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin: 40px 20px 10px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hours p{
    margin: 0;
}

.time-title p{
    margin: 5px;
}

.time-right{
    background-color: rgb(18, 18, 32);
    width: 575px;
}

.time-title{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-weight: bolder;
    margin-left: 20px;
}

.days{
    margin-left: 30px;
    color: white;
    font-weight: bold;
}

.days p{
    font-family: Arial, Helvetica, sans-serif;
}

.days hr{
    margin-right: 25px;
}

.space1{
    display: inline;
    margin-left: 343px;
}

.space2{
    display: inline;
    margin-left: 338px;
}

.space3{
    display: inline;
    margin-left: 310px;
}

.space4{
    display: inline;
    margin-left: 325px;
}

.space5{
    display: inline;
    margin-left: 355px;
}

.space6{
    display: inline;
    margin-left: 375px;
}

.color1{
    color: gray;
}

.color2{
    color: red;
}

.testimonial-box{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(18, 18, 32);
    padding: 1px 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}

.testimonial-title{
    color: white;
    font-size: 2.5rem;
    width: 600px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.client{
    color: white;
    font-size: 1.5rem;
    width: 600px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.profession{
    color: red;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.client p{
    margin-bottom: 5px;
}

.profession p{
    margin-top: 0px;
}

.testimonial-title p{
    margin-bottom: 20px;
    margin-top: 10px;
}

.review{
    color: gray;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    font-size: 1rem;
}

.client-box{
    background-color: rgb(18, 18, 32);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.client-image img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.testimonial{
    margin-bottom: 100px;
}

.end{
    background-color: rgb(18, 18, 32);
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.end1-title, .end2-title, .end3-title{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}

.end-title p{
    margin-top: 100px;
    margin-left: 50px;
}

.end1-note p, .end2-note p, .mail-form{
    color: gray;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.end2-note p:hover{
    cursor: pointer;
    color: red;
}

.mail-form button{
    background-color: rgb(214, 71, 18);
    color: white;
}


.mail-form button:hover{
    background-color: rgb(124, 36, 3);
    cursor: pointer;
}

.icons img{
    width: 30px;
    height: auto;
    transition: transform 1s;
}

.icons{
    margin-top: 30px;
    display: flex;
    gap: 25px;
}

.icons img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.footer-content{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

}

.content-right{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.footer{
    width: 100%;
    display: flex;
    height: 25px;
}

.footer-left{
    width: 85%;
}

